<header>
    <div class="top_nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="tel:9067577848">1234567890</a>
                </div>
                <div class="col-md-6">
                    <button class="ctm_btn" routerLink="/login">Log In</button>
                    <button class="ctm_btn" routerLink="/register">Register</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_nav">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo"><a>LOGO DESIGN</a></div>
                </div>
                <div class="col-md-8">
                    <ul>
                        <li><a routerLink="/home" routerLinkActive="atcive">Home</a></li>
                        <li><a routerLink="/about" routerLinkActive="atcive">About</a></li>
                        <li><a routerLink="/contact" routerLinkActive="atcive">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>