<footer>
    <div class="top_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright 2020 <strong>Design By </strong><a>Indylogix Solution</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>